<div class="grafico-header">
  <h3>{{ chartTitle }}</h3>
  <div class="view-toggle">
    <button [class.active]="currentView === 'Desempenho Checklist'" (click)="switchView('Desempenho Checklist')">Desempenho Checklists</button>
    <button [class.active]="currentView === 'imc'" (click)="switchView('imc')">Desempenho IMC</button>
  </div>
</div>

<canvas *ngIf="currentView !== 'imc'"
        baseChart
        [data]="chartData"
        [options]="chartOptions"
        [type]="chartType">
</canvas>

<app-grafico-imc *ngIf="currentView === 'imc'"></app-grafico-imc>
