:host {
  display: block;
  width: 100%;
  height: 450px;
  max-height: 450px;
  background: #13212f; 
  border-radius: 15px;
  padding: 25px;
  box-sizing: border-box;
  padding-left: 20px;
}

.grafico-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  h3 {
    color: #00c8c8;
    font-size: 20px;
    margin: 0;
  }

  .view-toggle {
    display: flex;
    gap: 10px;

    button {
      background: none;
      border: 1px solid #00c8c8;
      color: #00c8c8;
      padding: 4px 8px;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.3s ease;

      &.active,
      &:hover {
        background-color: #00c8c8;
        color: #13212f;
      }
    }
  }
}

canvas {
  width: 100% !important;
  height: calc(100% - 50px) !important;
  max-height: 400px !important;
  display: block;
}

.chartjs-render-monitor + .chartjs-legend {
  max-height: 100px;
  overflow-y: auto;
  color: #ccc;
  font-size: 12px;
  padding-top: 8px;
}
