::ng-deep .mat-mdc-checkbox label {
  color: #C7D6DF !important;
}
.checklist-container {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  max-height: 500px;
  border-radius: 12px;
  padding: 1rem;
  box-sizing: border-box;
  background-color: transparent;
}

.tarefas-scroll {
  flex-grow: 1;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 2rem;
  padding-right: 0.5rem;

  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #00c8c8;
    border-radius: 4px;
  }
}

.checklist-wrapper {
  flex-shrink: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 2rem;
  padding-bottom: 1rem;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
}

.checkbox-item {
    width: 100%;
    font-size: 0.95rem;
    font-weight: 500;
    transition: background-color 0.2s ease;
}

.nova-tarefa {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  flex-wrap: wrap;

  mat-form-field {
    flex: 1 1 200px;
    min-width: 180px;
  }

  .input-tarefa {
    flex: 2 1 300px;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-size: 1rem;
    height: 56px;
  }

  button {
    background-color: #4194C8;
    color: #ffffff;
    border: 1px solid #4194C8;
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
      background-color: #C7D6DF;
      color: #060F0C;
      border-color: #4194C8;
    }
  }
}

.tarefa-item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 0.5rem;

  .checkbox-item {
    flex: 1;
    font-size: 1rem;
    border: none;
  }
  
  .editar-input {
    background-color: #0a1822;
    color:  #C7D6DF !important;
    border-radius: 8px;
    width: 100%;
    padding: 0.4rem 0.6rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    transition: box-shadow 0.3s;
    
    &:focus,
    &:focus-visible {
      outline: none;
      box-shadow: 0 0 0 2px #C7D6DF;
    }

    &::placeholder {
      color: #88B5CC;
    }
  }

  button {
    padding: 0.4rem;
    background-color: #f35b04;
    color: #f1faee;
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
      background-color: #f18701;
      color: #060F0C;
      border-color: #4194C8;
    }
  }
}

::ng-deep .checkbox-item .mdc-checkbox {
  display: none;
}

.input-tarefa {
  background-color: #0a1822;
  color:  #C7D6DF !important;
  flex: 1 1 250px;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  transition: box-shadow 0.3s;

  &:focus,
  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px #C7D6DF;
  }

  &::placeholder {
    color: #88B5CC;
  }
}

button {
  // grid-column: span 2;
  justify-self: start;
  padding: 0.5rem 1.2rem;
  font-size: 0.95rem;
  border-radius: 8px;
}

button.gerar {
  padding: 12px;
  border-radius: 8px;
  background-color: #000000;
  color: #ffbd61;
  border: 1px solid #ffbd61;
  cursor: pointer;
  transition: background-color 0.3s;
  &:hover {
    background-color: #C7D6DF;
    color: #060F0C;
    border-color: #000000;
  }
}

.salvar-wrapper {
  flex-shrink: 0;
  padding-top: 1rem;
  display: flex;
  justify-content: flex-start;

  button {
    background-color: #4194C8;
    color: #ffffff;
    border-radius: 8px;
    border: 1px solid #4194C8;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #C7D6DF;
      color: #060F0C;
      border-color: #4194C8;
    }
  }
}

.color-warn {
  background-color: #891b25 !important;
  color: white !important;
  border-radius: 6px;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #d0373b !important;
  }

  mat-icon {
    color: #E4E7E8 !important;
  }
}

::ng-deep mat-calendar {
  max-width: 100%;
  display: block;
  background-color: #0F2533;
  border-radius: 1rem;
  color: #fef5e5;
  box-sizing: border-box;
  padding: 1rem;
  transition: all 0.3s ease;
}

mat-form-field {
  height: 80px;
  display: flex;
  align-items: center;
}

::ng-deep .mat-mdc-icon-button {
  color: #E4E7E8 !important;
}

::ng-deep .mat-mdc-form-field-flex {
  height: 100%;
  align-items: center !important;
}

.input_data{
  width: 120px;
  background-color: transparent;
  color:  #C7D6DF !important;
  box-shadow: none !important;

  &::placeholder {
    color: #88B5CC !important;
  }
}

::ng-deep .mat-mdc-form-field-flex {
  background-color: transparent !important;
  border-radius: 6px;
}

::ng-deep .mat-mdc-form-field-infix {
  color: #C7D6DF;
}

::ng-deep .mat-mdc-text-field-wrapper {
  padding: 0px;
  background-color: #0A1822 !important;
  box-shadow: none !important;
  border-radius: 8px;
}
::ng-deep .mat-mdc-form-field-outline-gap {
  display: none !important;
}
::ng-deep .field--no-label .mat-mdc-form-field-infix {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

::ng-deep mat-calendar {
  max-width: 100%;
  display: block;
  background-color: #0f2533 !important;
  border-radius: 1rem;
  color: #fef5e5;
  box-sizing: border-box;
  padding: 1rem;
  transition: all 0.3s ease;
}

::ng-deep .mat-calendar-header,
::ng-deep .mat-calendar-content,
::ng-deep .mat-calendar-table-header th,
::ng-deep .mat-calendar-body-cell,
::ng-deep .mat-calendar-body-cell-content {
  color: #fef5e5 !important;
  transition: color 0.3s ease;
}

::ng-deep .mat-calendar-body-disabled {
  color: #fef5e5 !important;
}

::ng-deep .mat-calendar-body-selected {
  background-color: #fef5e5 !important;
  color: #060F0C !important;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 50%;
}

::ng-deep .mat-calendar-body-today:not(.mat-calendar-body-selected) {
  border: 2px solid #fef5e5 !important;
  border-radius: 50%;
  transition: border-color 0.3s ease;
}

::ng-deep .mat-calendar-previous-button,
::ng-deep .mat-calendar-next-button,
::ng-deep .mat-calendar-period-button {
  color: #fef5e5 !important;
  transition: color 0.3s ease;
}
::ng-deep .mat-calendar-body-cell:hover .mat-calendar-body-cell-content:not(.mat-calendar-body-disabled) {
  background-color: #fef5e5;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

::ng-deep .mat-mdc-snack-bar-container.snackbar-sucesso {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}

::ng-deep .mat-mdc-snack-bar-container.snackbar-sucesso .mdc-snackbar__surface {
  margin: 10px;
  background-color: #4caf50 !important;
  color: white !important;
  border-radius: 8px !important;
  font-size: 32px !important;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/* Remove fundo e padding padrão */
::ng-deep .mat-mdc-snack-bar-container.snackbar-erro {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}

/* Estilo do conteúdo do erro */
::ng-deep .mat-mdc-snack-bar-container.snackbar-erro .mdc-snackbar__surface {
  margin: 10px;
  background-color: #e53935 !important;
  color: #fff !important;
  font-size: 18px !important;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease-in-out;
}