<div class="tarefas-scroll">
  <div class="checklist-wrapper">
    <div class="nova-tarefa">
      <label for="novaTarefaInput">Nova atividade</label>
      <input
        [(ngModel)]="novaTarefa"
        placeholder="Nova atividade"
        class="input-tarefa"
      />
      <button mat-stroked-button color="accent" (click)="adicionarTarefa()">Adicionar</button>
    </div>

    <div>
      <label for="novaTarefaInput">Data de criação</label>
      <mat-form-field appearance="fill" >
        <input id="novaTarefaInput" matInput [matDatepicker]="picker" [(ngModel)]="dataChecklist">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" (click)="gerarChecklist()">Gerar Checklist</button>

    <div class="checkbox-wrapper" *ngFor="let atividade of atividades; let i = index">
      <div class="tarefa-item">
        <mat-checkbox
          [(ngModel)]="atividade.feito"
          class="checkbox-item"
          color="accent"
        >
          <ng-container *ngIf="!atividade.editando">{{ atividade.nome }}</ng-container>
          <input
            *ngIf="atividade.editando"
            [(ngModel)]="atividade.nome"
            class="editar-input"
            placeholder="Editar tarefa"
          />
        </mat-checkbox>

        <button mat-icon-button color="primary" (click)="editarTarefa(i)">
          <mat-icon>{{ atividade.editando ? 'check' : 'edit' }}</mat-icon>
        </button>

        <button mat-icon-button color="warn" (click)="removerTarefa(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="salvar-wrapper">
    <button mat-flat-button color="primary" (click)="salvarChecklist()">
      Salvar
    </button>
  </div>
</div>
