<div class="container">
  <h1 class="title-container" >Calcular IMC</h1>
  <form [formGroup]="form" (ngSubmit)="calcularIMC()">

    <label for="altura">Altura</label>
    <input id="altura" type="number" formControlName="altura"/>

    <label for="peso">Peso</label>
    <input id="peso" type="number" formControlName="peso"/>

    <!-- Campo de data simples -->
    <label for="data_consulta">Data</label>
    <input id="data_consulta" type="date" formControlName="data_consulta" [max]="maxDate" />

    <div *ngIf="mostrarToast" class="toast-alert" [ngClass]="tipoToast">
      {{ mensagemAlerta }}
    </div>

    <button type="submit" [disabled]="form.invalid">Calcular</button>
  </form>

  <div *ngIf="resultado !== null">
    <p>Seu IMC: {{ resultado | number: '1.1-2' }}</p>
    <p>Classificação: {{ classificacao }}</p>
  </div>
</div>
