.container {
  height: 400px;
  width: 100%;
  max-width: 300px;
  margin: 0;
  padding: 2rem;
  border-radius: 10px;
  background-color: #13212f;
  color: white;
  font-family: 'Arial', sans-serif;
}

.title-container{
    text-align: center;
    color: #00c8c8;
    font-size: 20px;
}

label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
  color: white;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  border-radius: 6px;
  border: 1px solid #444;
  background-color: #1e2a36;
  color: white;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  width: 100%;
  margin-top: 1.5rem;
  padding: 0.6rem;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 6px;
  border: none;
  background-color: #00bfa5;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #00a892;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

div p {
  margin-top: 1rem;
  text-align: center;
  color: white;
}

::ng-deep .mat-mdc-snack-bar-container.snackbar-sucesso {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}

::ng-deep .mat-mdc-snack-bar-container.snackbar-sucesso .mdc-snackbar__surface {
  margin: 10px;
  background-color: #4caf50 !important;
  color: white !important;
  border-radius: 8px !important;
  font-size: 32px !important;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

::ng-deep .mat-mdc-snack-bar-container.snackbar-erro {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}

::ng-deep .mat-mdc-snack-bar-container.snackbar-erro .mdc-snackbar__surface {
  margin: 10px;
  background-color: #e53935 !important;
  color: #fff !important;
  font-size: 18px !important;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease-in-out;
}
.input_data{
  background-color: transparent;
  color:  #1e2a36 !important;
  border: 2px solid black !important;
}
::ng-deep mat-calendar {
  max-width: 100%;
  display: block;
  background-color: #0f202a !important;
  border-radius: 1rem;
  color: #00c8c8;
  box-sizing: border-box;
  padding: 1rem;
  transition: all 0.3s ease;
}

::ng-deep .mat-calendar-header,
::ng-deep .mat-calendar-content,
::ng-deep .mat-calendar-table-header th,
::ng-deep .mat-calendar-body-cell,
::ng-deep .mat-calendar-body-cell-content {
  color: aliceblue !important;
  transition: color 0.3s ease;
}

::ng-deep .mat-calendar-body-disabled {
  color: rgba(239, 239, 239, 0.25) !important;
}

::ng-deep .mat-calendar-body-selected {
  background-color: #00c8c8 !important;
  color: #0e1b24 !important;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 50%;
}

::ng-deep .mat-calendar-body-today:not(.mat-calendar-body-selected) {
  border: 2px solid #00c8c8 !important;
  border-radius: 50%;
  transition: border-color 0.3s ease;
}

::ng-deep .mat-calendar-previous-button,
::ng-deep .mat-calendar-next-button,
::ng-deep .mat-calendar-period-button {
  color: #00c8c8 !important;
  transition: color 0.3s ease;
}
::ng-deep .mat-calendar-body-cell:hover .mat-calendar-body-cell-content:not(.mat-calendar-body-disabled) {
  background-color: #00c85326;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
