  <div class="app-container">
    <app-sidebar></app-sidebar>

    <main class="main-content">
      <div class="rotina-page-grid">

        <div class="col-esquerda">
          <section class="rotina-section calendario">
            <h2>Calendário</h2>
            <app-calendario (dataSelecionada)="dataSelecionada = $event"></app-calendario>
          </section>
          
        </div>

        <div class="col-mid">
          <section class="rotina-section checklist">
            <h2>Checklist</h2>
            <app-checklist></app-checklist>
          </section>
          <section class="rotina-section checklist">
            <h2>CheckIn</h2>
            <app-checkin *ngIf="dataSelecionada" [data]="dataSelecionada"></app-checkin>
          </section>
          
        </div>

        <div class="col-direita">
          <section class="rotina-section dicas">
            <h2>Recomendações</h2>
            <app-dicas></app-dicas>
          </section>
        </div>

      </div>
    </main>
  </div>
