<div class="layout">
  <app-sidebar></app-sidebar>

  <div class="container">
    <div class="titulo-exercicio">{{ nomeExercicio }}</div>

    <div class="card">
      <h3>Instruções</h3>
      <markdown [data]="instrucoesTexto" class="conteudo-bloco"></markdown>

      <h3>Dados do Exercício</h3>
      <markdown [data]="dadosExercicioValor" class="conteudo-bloco"></markdown>
    </div>

    <div class="botoes">
      <button (click)="iniciarExercicio()">Gerar exercício</button>
      <button (click)="alternarStatusExercicio()" [disabled]="!respostaIA">
        {{ estaExecutando ? "Finalizar" : "Iniciar exercício" }}
      </button>
    </div>

    <div class="tempo-info" *ngIf="tempoInicio || tempoFim">
      <h4 *ngIf="estaExecutando" style="color: #00bfa5; margin-top: 0">
        ✅ Seu exercício foi iniciado
      </h4>
      <h4 *ngIf="!estaExecutando && tempoFim" style="color: #f44336; margin-top: 0">
        ⏹️ Exercício finalizado
      </h4>

      <h3>🕒 Tempo do Exercício</h3>
      <hr />

      <p *ngIf="tempoInicio">
        <strong>Início:</strong> {{ tempoInicio | date : "HH:mm" }}
      </p>
      <p *ngIf="tempoFim">
        <strong>Fim:</strong> {{ tempoFim | date : "HH:mm" }}
      </p>
      <p *ngIf="tempoFim">
        <strong>Duração:</strong> {{ calcularDuracao() }} segundos
      </p>
    </div>

    <app-exemplos-exercicio></app-exemplos-exercicio>
  </div>
</div>
