.config-page {
  height: 100%;
  padding: 2rem;
  color: #C7D6DF;
  box-sizing: border-box;

  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .subtitle {
    font-size: 1rem;
    color: #3E9ED6;
    margin-bottom: 2rem;
  }

  .setting-section {
    background-color: #102938;
    border-radius: 0.75rem;
    border: 1px solid #1f2d36;
    margin-bottom: 1.5rem;
    overflow: hidden;

    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    .section-toggle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      cursor: pointer;
      user-select: none;

      &:hover {
        background-color: #0f2533;
      }

      .toggle-left {
        display: flex;
        align-items: center;

        .material-icons {
          margin-right: 0.5rem;
        }

        .label {
          font-size: 1rem;
        }
      }

      .expand-icon {
        font-size: 28px;
        color: #00ff9d;
        transition: transform 0.3s ease;

        &.rotated {
          transform: rotate(180deg);
        }
      }

      .toggle-icon {
        font-size: 36px;
        transition: color 0.3s ease;

        &.active {
          color: #00ff9d;
        }

        &:not(.active) {
          color: #6b7280;
        }
      }

      .status {
        font-size: 28px;
        color: #00ff9d;
      }
    }

    .section-content {
      padding: 0 1rem 1rem 1rem;
      font-size: 0.875rem;
      color: #d1d5db;
    }
  }
}

/* Toggle botão estilo on/off */

.toggle-switch {
  width: 50px;
  height: 26px;
  background: #0A1822;
  border-radius: 13px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 2px solid #C7D6DF;

  &.active {
    background-color: #4194C8;
  }

  .toggle-circle {
    width: 22px;
    height: 22px;
    background: #14232d;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.3s ease;
    border: 2px solid #C7D6DF;
  }

  &.active .toggle-circle {
    background: #4194C8;
    border: 2px solid #C7D6DF;
    left: 26px;
  }
}
