<div class="exemplos-wrapper">
  <h3>Exemplos de exercícios</h3>
  <div class="exemplos-grid">
    <div 
      class="exemplo-card"
      *ngFor="let exemplo of [1,2,3,4,5,6,7,8,9,10]"
      (mouseenter)="mostrarPreview(exemplo, $event)"
      (mouseleave)="esconderPreview()">
      Exemplo {{ exemplo }}
    </div>
  </div>
</div>

<!-- Preview flutuante em formato de balão -->
<div 
  class="preview-balao"
  *ngIf="previewAtivo"
  [ngStyle]="{ top: previewTop + 'px', left: previewLeft + 'px' }">

  <div class="preview-conteudo">
    <h4>Instruções</h4>
    <p>Exemplo de instrução para o exercício {{ exemploSelecionado }}.</p>

    <h4>Dados do Exercício</h4>
    <p>Valores de entrada e contexto do exercício {{ exemploSelecionado }}.</p>

    <h4>Link:</h4>
    <p><a href="#">https://exemplo.com/{{ exemploSelecionado }}</a></p>
  </div>
  <div class="balao-seta"></div>
</div>
