<!-- Botão com badge -->
<button mat-icon-button
        [matBadge]="notificacoesNaoLidas"
        matBadgeColor="warn"
        (click)="togglePainel()"
        class="floating-button">
  <mat-icon>notifications</mat-icon>
</button>

<!-- Painel de notificações -->
<div class="painel" *ngIf="aberto">
  <h3>Notificações</h3>
  <ul>
    <li *ngFor="let n of notificacoes" class="notificacao-item" (click)="irPara(n)">
      <div class="conteudo">
        <mat-icon color="accent">notifications</mat-icon>
        <span [style.fontWeight]="n.lida ? 'normal' : 'bold'">{{ n.mensagem }}</span>
      </div>
      <mat-icon class="seta">chevron_right</mat-icon>
    </li>
  </ul>
</div>
