<body class="page-dashboard">
  <app-sidebar></app-sidebar> 

  <main class="dashboard">
    <div class="topo-dashboard">
      <section class="cards">
        <div class="card">
          <h3>Consumo calórico</h3>
          <p>Valor: --</p>
        </div>
        <div class="card">
          <h3>Qualidade do Sono</h3>
          <p>Valor: --</p>
        </div>
        <div class="card">
          <h3>Hidratação</h3>
          <p>Valor: --</p>
        </div>
      </section>

      <aside class="imc-resumo">
        <h2>Resumo IMC</h2>
        <p>Peso: -- kg</p>
        <p>Altura: -- cm</p>
        <p>IMC: --</p>
      </aside>
    </div>

    <section class="atividades">
      <h2>Atividades realizadas</h2>
      <div class="grafico-placeholder">
        <app-grafico></app-grafico>
        <!-- Colar a tag do componente de grafico aq -->
      </div>
    </section>
  </main>

  <router-outlet></router-outlet>
</body>

