<body class="page-dashboard">
  <app-sidebar></app-sidebar>

  <main class="dashboard">
    <!-- Agrupamento dos cards + IMC -->
    <section class="topo-dashboard">
      <div class="cards-superiores">
        <div class="card">
          <span class="material-icons icon">local_fire_department</span>
          <h3>Consumo calórico</h3>
          <p>Valor: --</p>
        </div>
        <div class="card">
          <span class="material-icons icon">bedtime</span>
          <h3>Qualidade do Sono</h3>
          <p>Valor: --</p>
        </div>
        <div class="card">
          <span class="material-icons icon">opacity</span>
          <h3>Hidratação</h3>
          <p>Valor: --</p>
        </div>
      </div>

      <aside class="imc-resumo">
        <h2>Resumo IMC</h2>
        <p>Peso: -- kg</p>
        <p>Altura: -- cm</p>
        <p>IMC: --</p>
      </aside>
    </section>

    <section class="atividades">
      <div class="grafico-placeholder">
        <app-grafico></app-grafico>
      </div>
    </section>
  </main>

  <router-outlet></router-outlet>
</body>
