  <div class="app-container">
    <app-sidebar></app-sidebar>

    <main class="main-content">
      <div class="rotina-page-grid">
        <div class="col-esquerda">
          <section class="rotina-section calendario">
            <h2>Calendário</h2>
            <app-calendario></app-calendario>
          </section>

          <section class="rotina-section checklist">
            <h2>Checklist</h2>
            <app-checklist></app-checklist>
          </section>
        </div>

        <div class="col-direita">
          <section class="rotina-section dicas">
            <h2>Recomendações</h2>
            <app-dicas></app-dicas>
          </section>
        </div>
      </div>
    </main>
  </div>
