<body class="page-dashboard">
  <app-sidebar></app-sidebar>

  <div class="dashboard-container">
    <main class="dashboard">
      <section class="topo-dashboard">
        <div class="cards-superiores">
          <aside>
            <app-calculo-imc></app-calculo-imc>
          </aside>
          
          <aside>
            <app-historico-registros></app-historico-registros>
          </aside>
        </div>
        
        <aside class="imc-resumo">
          <app-resumo></app-resumo>
        </aside>
      </section>

      <section class="atividades">
        <div class="grafico-placeholder">
          <app-grafico></app-grafico>
        </div>
      </section>
    </main>
  </div>

  <router-outlet></router-outlet>
</body>
